/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Hide desktop nav and show hamburger nav */
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
  
    /* Adjust section margins */
    section {
      margin: 0 5%;
    }
  
    /* Profile section */
    #profile {
      flex-direction: column;
      gap: 2rem;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
    }
  
    /* About section */
    .about-containers {
      flex-direction: column;
    }
    .about-details-container {
      margin-top: 2rem;
    }
    .section-container {
      flex-direction: column;
    }
  
    /* Experience section */
    #experience {
      margin-top: 2rem;
    }
  
    /* Projects section */
    .cards {
      flex-direction: column;
      align-items: center;
    }
    .cards .card {
      width: 100%;
    }
  
    /* Contact section */
    #contact {
      height: auto;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    /* Adjust section margins */
    section {
      margin: 0 7%;
    }
  
    /* Profile section */
    #profile {
      flex-direction: column;
      gap: 3rem;
    }
  
    /* About section */
    .about-containers {
      flex-direction: column;
    }
    .section-container {
      flex-direction: column;
    }
  
    /* Projects section */
    .cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    .cards .card {
      width: 45%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    /* Adjust section margins */
    section {
      margin: 0 10%;
    }
  
    /* About section */
    .section-container {
      flex-direction: column;
    }
  
    /* Projects section */
    .cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    .cards .card {
      width: 45%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* No major changes needed, use default styles */
  }
  